In [13]:
import pandas as pd
from pathlib import Path

#Path to CSV
transportcsv = Path("Resources/nanda_transit_zcta.csv")
collegereadycsv = Path("Resources/CollegeReadiness_2017_2018_byZip_20181107.csv")
freelunchcsv = Path("Resources/FreeAndReducedLunch_Fall207_ByZIP_20181105.csv")
graduationcsv = Path("Resources/GraduationRates_2016_2017_byZip__20181019.csv")
usloccsv = Path("Resources/US.txt")

In [14]:
#Read in CSV to dataframes
transport_data = pd.read_csv(transportcsv)
collegeready_data = pd.read_csv(collegereadycsv)
freelunch_data = pd.read_csv(freelunchcsv)
graduation_data = pd.read_csv(graduationcsv)
usloc_data =pd.read_csv(usloccsv, sep="\t")

In [15]:
#Rename column so it can be merged
collegeready_data = collegeready_data.rename(columns={'ZCTA':'ZCTA5CE10'})
collegeready_data

,OBJECTID,GEOID10,MathNumAssessed,MathNumReady,AllSbjtNumReady,AllSbjtNumAssessed,EBRWNumAssessed,EBRWNumReady,FinalMathAveScore,FinalAllSbjtAveScore,FinalEWBRWAveScore,MathPctReady,AllSbjtPctReady,EBRWPctReady,Shape__Area,Shape__Length,ZCTA5CE10
0,1,2649883,25.0,0.0,0.0,25.0,25.0,6.0,404.800000,841.600000,436.800000,0.000000,0.000000,0.240000,7.789234e+09,5.799556e+05,49883
1,2,2649878,34.0,12.0,11.0,34.0,34.0,23.0,484.400000,983.500000,499.100000,0.352941,0.323529,0.676471,1.404697e+10,9.217413e+05,49878
2,3,2649855,285.0,115.0,107.0,285.0,285.0,181.0,507.962105,1033.437193,525.387368,0.403509,0.375439,0.635088,6.747444e+09,1.162098e+06,49855
3,4,2649408,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2.995690e+09,3.517039e+05,49408
4,5,2649010,168.0,52.0,49.0,168.0,168.0,87.0,477.414286,967.171429,489.678571,0.309524,0.291667,0.517857,4.615699e+09,5.311028e+05,49010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984,985,2648063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.032694e+09,1.285146e+05,48063
985,986,2648414,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.262379e+08,1.955999e+05,48414
986,987,2648701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.319999e+09,2.687271e+05,48701
987,988,2648733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.397144e+09,2.535510e+05,48733
988,989,2648154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.238780e+08,9.309788e+04,48154

In [16]:
#Fixing usloc_data, resetting indexes and correcting column names
fixed1_usloc_data = usloc_data.reset_index()
fixed1_usloc_data = usloc_data.reset_index(-1).reset_index(drop=True)
fixed2_usloc_data = fixed1_usloc_data.rename(columns={'level_1':'ZCTA5CE10',
                               'Country': 'Cities',
                               'Zip':'State',
                               'City':'Abbrev',
                               'State':'Area',
                               'Abbrev':'Something'})
fixed2_usloc_data

,ZCTA5CE10,Cities,State,Abbrev,Area,Something,Area,Something,Lat,Long,Nothing
0,99553,Akutan,Alaska,AK,Aleutians East,13.0,NaN,NaN,54.1430,-165.7854,1.0
1,99571,Cold Bay,Alaska,AK,Aleutians East,13.0,NaN,NaN,55.1858,-162.7211,1.0
2,99583,False Pass,Alaska,AK,Aleutians East,13.0,NaN,NaN,54.8542,-163.4113,1.0
3,99612,King Cove,Alaska,AK,Aleutians East,13.0,NaN,NaN,55.0628,-162.3056,1.0
4,99661,Sand Point,Alaska,AK,Aleutians East,13.0,NaN,NaN,55.3192,-160.4914,1.0
...,...,...,...,...,...,...,...,...,...,...,...
41478,96558,APO AA,NaN,NaN,NaN,NaN,NaN,NaN,19.7542,-155.5858,4.0
41479,96598,FPO AA,NaN,NaN,NaN,NaN,NaN,NaN,-89.9976,139.2729,NaN
41480,96599,FPO AA,NaN,NaN,NaN,NaN,NaN,NaN,-77.8460,166.6760,NaN
41481,96860,FPO AA,NaN,NaN,NaN,NaN,NaN,NaN,21.3448,-157.9774,4.0
41482,96863,FPO AA,NaN,NaN,NaN,NaN,NaN,NaN,21.4505,-157.7680,4.0

In [17]:
#Merge of 3 CSVs into a dataframe on zip
merge1_df = pd.merge(freelunch_data, graduation_data, on=["ZCTA5CE10"])
merge2_df = pd.merge(merge1_df, collegeready_data, on=["ZCTA5CE10"])

In [18]:
#Filter zip from national to zips listed in other merged dataframes (i.e zips in michigan)
filter_usloc_data = fixed2_usloc_data[fixed2_usloc_data["ZCTA5CE10"].isin(merge2_df["ZCTA5CE10"])]
merge3_df = pd.merge(merge2_df, filter_usloc_data,on="ZCTA5CE10")

In [19]:
#Filter zip from national to zips listed in other merged dataframe (i.e. zips in michigan)
filter_data = transport_data[transport_data["zcta19"].isin(merge3_df["ZCTA5CE10"])]
filter_data

,zcta19,zcta_area,count_ntm_stops,totpop13_17,stops_per_capita,stops_per_sqmile
15734,48001,23.655580,0,11886.0,0.000000,0.000000
15736,48003,33.083480,0,6147.0,0.000000,0.000000
15737,48005,36.561310,0,5476.0,0.000000,0.000000
15739,48009,5.055899,2,20836.0,0.095988,0.395578
15740,48014,36.796970,0,4174.0,0.000000,0.000000
...,...,...,...,...,...,...
16701,49945,182.779200,0,2501.0,0.000000,0.000000
16702,49946,297.685800,0,3898.0,0.000000,0.000000
16707,49953,421.172400,0,2493.0,0.000000,0.000000
16717,49968,252.539400,0,2072.0,0.000000,0.000000
16718,49969,284.503000,0,1301.0,0.000000,0.000000

In [20]:
#Merge filtered transporation data into other data frames for a final merge
transport_data = transport_data.rename(columns={'zcta19':'ZCTA5CE10'})
final_merge_df = pd.merge(merge3_df, transport_data, on='ZCTA5CE10')

In [21]:
#Remove columns not needed
final_merge_df = final_merge_df[["ZCTA5CE10", "GEOID10_x","Lat","Long", "FreeEligible", "ReducedEligible", "NotEligible",
                                 "FreeReducedEligible", "Total", "PCT_Free", "PCT_Reduced", "PCT_FreeReduced",
                                 "CohortCnt", "GradCnt", "GradRate", "MathNumAssessed", "AllSbjtNumAssessed",
                                 "EBRWNumAssessed", "MathNumReady", "AllSbjtNumReady", "EBRWNumReady",
                                 "FinalMathAveScore", "FinalAllSbjtAveScore", "FinalEWBRWAveScore", "MathPctReady",
                                 "AllSbjtPctReady", "EBRWPctReady", 'count_ntm_stops', 'stops_per_capita', 'stops_per_sqmile']]
#Rename columns
final_merge_df = final_merge_df.rename(columns={"GEOID10_x":"GEOID10","Lat":"Latitude","Long":"Longitude",
                                                "FreeReducedEligible":"Free_Reduced_Eligible_Total",
                                                "Total":"Total_Students","ZCTA5CE10":"Zipcode"})
final_merge_df

,Zipcode,GEOID10,Latitude,Longitude,FreeEligible,ReducedEligible,NotEligible,Free_Reduced_Eligible_Total,Total_Students,PCT_Free,...,EBRWNumReady,FinalMathAveScore,FinalAllSbjtAveScore,FinalEWBRWAveScore,MathPctReady,AllSbjtPctReady,EBRWPctReady,count_ntm_stops,stops_per_capita,stops_per_sqmile
0,49878,2649878,45.9107,-86.8845,142.0,23.0,190.0,165.0,355.0,0.400000,...,23.0,484.400000,983.500000,499.100000,0.352941,0.323529,0.676471,0,0.000000,0.000000
1,49855,2649855,46.5786,-87.4545,985.0,151.0,2437.0,1136.0,3573.0,0.275679,...,181.0,507.962105,1033.437193,525.387368,0.403509,0.375439,0.635088,0,0.000000,0.000000
2,49408,2649408,42.5777,-86.1249,273.0,68.0,99.0,341.0,440.0,0.620455,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0.000000,0.000000
3,49010,2649010,42.5256,-85.8661,1317.0,224.0,1162.0,1541.0,2703.0,0.487236,...,87.0,477.414286,967.171429,489.678571,0.309524,0.291667,0.517857,0,0.000000,0.000000
4,49055,2649055,42.3702,-85.8536,2.0,0.0,7.0,2.0,9.0,0.222222,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,48124,2648124,42.2941,-83.2536,4149.0,277.0,2394.0,4426.0,6820.0,0.608358,...,445.0,497.590599,1004.114169,506.485286,0.369210,0.350136,0.606267,1,0.034327,0.112365
525,48183,2648183,42.1382,-83.2179,1667.0,164.0,3580.0,1831.0,5411.0,0.308076,...,149.0,514.600000,1028.500000,513.900000,0.472574,0.443038,0.628692,0,0.000000,0.000000
526,48240,2648240,42.4264,-83.3017,3349.0,196.0,941.0,3545.0,4486.0,0.746545,...,47.0,406.458367,830.209388,423.744898,0.081633,0.065306,0.191837,0,0.000000,0.000000
527,48125,2648125,42.2768,-83.2606,2626.0,192.0,791.0,2818.0,3609.0,0.727625,...,101.0,474.872917,960.092188,485.264063,0.265625,0.255208,0.526042,0,0.000000,0.000000
528,48416,2648416,43.2171,-82.9978,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.000000,0.000000

In [22]:
#Drop NaN values
clean_merge_df = final_merge_df.dropna()

In [23]:
#Remove zipcodes with no public transport data, aka 0 stops.
final_clean_df = clean_merge_df[clean_merge_df['count_ntm_stops'] != 0]
final_clean_df = final_clean_df.sort_values(by='Zipcode',ascending=True)
final_clean_df

,Zipcode,GEOID10,Latitude,Longitude,FreeEligible,ReducedEligible,NotEligible,Free_Reduced_Eligible_Total,Total_Students,PCT_Free,...,EBRWNumReady,FinalMathAveScore,FinalAllSbjtAveScore,FinalEWBRWAveScore,MathPctReady,AllSbjtPctReady,EBRWPctReady,count_ntm_stops,stops_per_capita,stops_per_sqmile
384,48009,2648009,42.5444,-83.2133,172.0,16.0,2908.0,188.0,3096.0,0.055556,...,252.0,595.200000,1176.300000,581.100000,0.747405,0.730104,0.871972,2,0.095988,0.395578
499,48021,2648021,42.4658,-82.9459,2297.0,111.0,558.0,2408.0,2966.0,0.774444,...,27.0,405.400000,829.000000,423.600000,0.053333,0.000000,0.180000,12,0.369015,2.338599
382,48030,2648030,42.4608,-83.0982,2184.0,89.0,843.0,2273.0,3116.0,0.700899,...,90.0,434.274074,893.218519,458.944444,0.152263,0.139918,0.370370,14,0.844034,4.970329
51,48073,2648073,42.5190,-83.1570,608.0,97.0,2310.0,705.0,3015.0,0.201658,...,215.0,540.950000,1084.083562,543.133562,0.554795,0.541096,0.736301,2,0.059172,0.271037
445,48075,2648075,42.4638,-83.2255,1785.0,198.0,724.0,1983.0,2707.0,0.659402,...,22.0,430.800000,867.848101,437.105063,0.202532,0.177215,0.278481,44,2.030270,5.949468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,49525,2649525,43.0135,-85.6027,2338.0,456.0,5715.0,2794.0,8509.0,0.274768,...,397.0,543.363039,1093.551782,550.142214,0.572233,0.538462,0.744841,12,0.407498,0.489062
430,49534,2649534,43.0141,-85.7543,929.0,158.0,1136.0,1087.0,2223.0,0.417904,...,20.0,517.900000,1041.000000,523.100000,0.448276,0.379310,0.689655,47,2.168200,1.303005
30,49544,2649544,43.0073,-85.7255,971.0,193.0,1411.0,1164.0,2575.0,0.377087,...,125.0,485.395283,986.886792,501.500472,0.325472,0.306604,0.589623,21,2.108430,1.001814
359,49546,2649546,42.9280,-85.5483,772.0,121.0,3370.0,893.0,4263.0,0.181093,...,270.0,583.500000,1168.600000,585.000000,0.690096,0.683706,0.862620,70,2.074870,3.746581
308,49548,2649548,42.8697,-85.6628,4650.0,551.0,1130.0,5201.0,6331.0,0.734481,...,191.0,452.550888,915.379487,462.828600,0.193294,0.175542,0.376726,106,3.242190,10.009080

In [24]:
final_clean_df.to_csv('final_df.csv', index=False)