In [2]:
import pandas as pd
from pathlib import Path

#Path to CSV
transportcsv = Path("Resources/nanda_transit_zcta.csv")
collegereadycsv = Path("Resources/CollegeReadiness_2017_2018_byZip_20181107.csv")
freelunchcsv = Path("Resources/FreeAndReducedLunch_Fall207_ByZIP_20181105.csv")
graduationcsv = Path("Resources/GraduationRates_2016_2017_byZip__20181019.csv")

In [3]:
#Read in CSV to dataframes
transport_data = pd.read_csv(transportcsv)
collegeready_data = pd.read_csv(collegereadycsv)
freelunch_data = pd.read_csv(freelunchcsv)
graduation_data = pd.read_csv(graduationcsv)

In [15]:
transport_data

,ZCTA5CE10,zcta_area,count_ntm_stops,totpop13_17,stops_per_capita,stops_per_sqmile
0,601,64.65630,0,NaN,NaN,0.0
1,602,32.33064,0,NaN,NaN,0.0
2,603,31.68686,0,NaN,NaN,0.0
3,606,42.31389,0,NaN,NaN,0.0
4,610,37.52353,0,NaN,NaN,0.0
...,...,...,...,...,...,...
33139,99923,16.27978,0,0.0,NaN,0.0
33140,99925,68.88234,0,901.0,0.0,0.0
33141,99926,245.87120,0,1684.0,0.0,0.0
33142,99927,234.63110,0,59.0,0.0,0.0
33143,99929,2422.11100,0,2455.0,0.0,0.0

In [16]:
graduation_data

,OBJECTID,ZCTA5CE10,GEOID10,CohortCnt,GradCnt,GradRate,Shape__Area,Shape__Length
0,1,49878,2649878,20.0,13.0,0.650000,1.404697e+10,9.217413e+05
1,2,49855,2649855,269.0,219.0,0.814126,6.747444e+09,1.162098e+06
2,3,49408,2649408,NaN,NaN,NaN,2.995690e+09,3.517039e+05
3,4,49010,2649010,226.0,146.0,0.646018,4.615699e+09,5.311028e+05
4,5,49055,2649055,NaN,NaN,NaN,1.698919e+09,2.344321e+05
...,...,...,...,...,...,...,...,...
524,525,48235,2648235,530.0,430.0,0.811321,1.742453e+08,6.004251e+04
525,526,48124,2648124,788.0,756.0,0.959391,2.480854e+08,7.958742e+04
526,527,48183,2648183,218.0,214.0,0.981651,5.415085e+08,1.419877e+05
527,528,48240,2648240,299.0,147.0,0.491639,1.043493e+08,4.345491e+04
528,529,48125,2648125,254.0,208.0,0.818898,1.129077e+08,7.845768e+04

In [18]:
#Rename column so it can be merged
collegeready_data = collegeready_data.rename(columns={'ZCTA':'ZCTA5CE10'})
collegeready_data

,OBJECTID,GEOID10,MathNumAssessed,MathNumReady,AllSbjtNumReady,AllSbjtNumAssessed,EBRWNumAssessed,EBRWNumReady,FinalMathAveScore,FinalAllSbjtAveScore,FinalEWBRWAveScore,MathPctReady,AllSbjtPctReady,EBRWPctReady,Shape__Area,Shape__Length,ZCTA5CE10
0,1,2649883,25.0,0.0,0.0,25.0,25.0,6.0,404.800000,841.600000,436.800000,0.000000,0.000000,0.240000,7.789234e+09,5.799556e+05,49883
1,2,2649878,34.0,12.0,11.0,34.0,34.0,23.0,484.400000,983.500000,499.100000,0.352941,0.323529,0.676471,1.404697e+10,9.217413e+05,49878
2,3,2649855,285.0,115.0,107.0,285.0,285.0,181.0,507.962105,1033.437193,525.387368,0.403509,0.375439,0.635088,6.747444e+09,1.162098e+06,49855
3,4,2649408,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2.995690e+09,3.517039e+05,49408
4,5,2649010,168.0,52.0,49.0,168.0,168.0,87.0,477.414286,967.171429,489.678571,0.309524,0.291667,0.517857,4.615699e+09,5.311028e+05,49010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984,985,2648063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.032694e+09,1.285146e+05,48063
985,986,2648414,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.262379e+08,1.955999e+05,48414
986,987,2648701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.319999e+09,2.687271e+05,48701
987,988,2648733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.397144e+09,2.535510e+05,48733
988,989,2648154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.238780e+08,9.309788e+04,48154

In [17]:
freelunch_data

,OBJECTID,ZCTA5CE10,GEOID10,FreeEligible,ReducedEligible,NotEligible,Total,FreeReducedEligible,PCT_Free,PCT_Reduced,PCT_FreeReduced,Shape__Area,Shape__Length
0,1,49883,2649883,737.0,129.0,560.0,1426.0,866.0,0.516830,0.090463,0.607293,7.789234e+09,5.799556e+05
1,2,49878,2649878,142.0,23.0,190.0,355.0,165.0,0.400000,0.064789,0.464789,1.404697e+10,9.217413e+05
2,3,49855,2649855,985.0,151.0,2437.0,3573.0,1136.0,0.275679,0.042261,0.317940,6.747444e+09,1.162098e+06
3,4,49408,2649408,273.0,68.0,99.0,440.0,341.0,0.620455,0.154545,0.775000,2.995690e+09,3.517039e+05
4,5,49010,2649010,1317.0,224.0,1162.0,2703.0,1541.0,0.487236,0.082871,0.570107,4.615699e+09,5.311028e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
984,985,48654,2648654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.668079e+09,3.631773e+05
985,986,49460,2649460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.717624e+09,3.985768e+05
986,987,48063,2648063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.032694e+09,1.285146e+05
987,988,48414,2648414,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.262379e+08,1.955999e+05
988,989,48733,2648733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.397144e+09,2.535510e+05

In [8]:
#Merge of 3 CSVs into a dataframe on zip
merge1_df = pd.merge(freelunch_data, graduation_data, on=["ZCTA5CE10"])
merge2_df = pd.merge(merge1_df, collegeready_data, on=["ZCTA5CE10"])

In [10]:
#Filter zip from national to zips listed in other merged dataframe (i.e. zips in michigan)
filter_data = transport_data[transport_data["zcta19"].isin(merge2_df["ZCTA5CE10"])]
filter_data

,zcta19,zcta_area,count_ntm_stops,totpop13_17,stops_per_capita,stops_per_sqmile
15734,48001,23.655580,0,11886.0,0.000000,0.000000
15736,48003,33.083480,0,6147.0,0.000000,0.000000
15737,48005,36.561310,0,5476.0,0.000000,0.000000
15739,48009,5.055899,2,20836.0,0.095988,0.395578
15740,48014,36.796970,0,4174.0,0.000000,0.000000
...,...,...,...,...,...,...
16701,49945,182.779200,0,2501.0,0.000000,0.000000
16702,49946,297.685800,0,3898.0,0.000000,0.000000
16707,49953,421.172400,0,2493.0,0.000000,0.000000
16717,49968,252.539400,0,2072.0,0.000000,0.000000
16718,49969,284.503000,0,1301.0,0.000000,0.000000

In [11]:
#Merge filtered transporation data into other data frames for a final merge
transport_data = transport_data.rename(columns={'zcta19':'ZCTA5CE10'})
final_merge_df = pd.merge(merge2_df, transport_data, on='ZCTA5CE10')
final_merge_df